todo

playground.py

#dataset file size too large
data/datasets/Navier*
applications/master_thesis/PDE*

wandb/

__pycache__

core/__pycache__
tests/__pycache__
applications/__pycache__
applications/analytical_geometry/__pycache__
applications/master_thesis/__pycache__
applications/master_thesis/HNN/__pycache__
data/logs/wandb
