**/__pycache__/
**/wandb/
.direnv/


notes
experimental/notes
playground.py
playground2.py

applications/generate_gif_pngs.py
applications/JAX_version_tests.py
applications/master_thesis/PDE*

data/datasets/Navier*
data/models/for_gif
images/for_gif
